@charset "utf-8";
@import url('../css-1');
@import url('../css2');
*{margin: 0; padding: 0;}
body{font-size: 12px; line-height: 18px; font-family: 'Noto Sans KR', sans-serif;}
ul{list-style: none;}
ol{list-style: none;}
a{color: #121212; text-decoration: none;}
img{border: none; vertical-align: top;}
address{font-style: normal;}

.cf{}
.cf:after{content: ""; display: block; clear: both;}

::selection{background-color: #f3a6c8; color:black;}